absl-py
ai-edge-litert
aiohttp
annotated-doc
anyio
argon2-cffi
argon2-cffi-bindings
array-record
arrow
asttokens
astunparse
async-generator
async-lru
babel
backports-strenum
backtest
backtesting
beautifulsoup4
bleach
bokeh
bottleneck
bs4
build
cffi
charset-normalizer
choreographer
click
cloudpickle
cmdstanpy
coloredlogs
comm
crashtest
debugpy
decorator
defusedxml
dill
dm-tree
docstring-parser
einops
ephem
ephem
etils
executing
fastjsonschema
fastrlock
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
ftfy
gast
google-pasta
googleapis-common-protos
gputil
grpcio
h11
h5py
hf-xet
holidays
httpcore
httpstan
httpx
huggingface-hub
humanfriendly
idna
immutabledict
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-bokeh
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kagglehub
kagglesdk
kaleido
keras
keras-core
keras-cv
keras-tuner
kt-legacy
lark
libclang
llvmlite
logistro
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mpl-ascii
mpmath
multidict
multiprocess
munkres
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cccl-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
nvidia-pyindex
onnx
onnxconverter-common
onnxruntime-gpu
opt-einsum
optree
orjson
outcome
overrides
packaging
panda
pandas
pandocfilters
parso
patsy
pexpect
pillow
pillow
platformdirs
plotext
plotille
plotly
prometheus-client
promise
prompt-toolkit
propcache
prophet
protobuf
psutil
ptyprocess
pure-eval
py
pyaml
pyarrow
pycparser
pygments
pymeeus
pyproject-hooks
pyside6
pyside6
pyside6-addons
pyside6-essentials
pytest
pytest-timeout
python-dateutil
python-dotenv
python-json-logger
pyyaml
pyzmq
qtconsole
qtpy
referencing
regex
requests
retry
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
safetensors
scikit-learn
scikit-optimize
scipy
seaborn
selenium
send2trash
setuptools
shellingham
shiboken6
simple-parsing
simplejson
six
slicer
sniffio
sortedcontainers
soupsieve
stack-data
stanio
statsmodels
stockstats
sympy
ta
ta-lib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-metadata
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
tornado
traitlets
trio
trio-typing
trio-websocket
triton
typer
typer-slim
types-certifi
types-python-dateutil
types-urllib3
typing-extensions
tzdata
undetected-chromedriver
uri-template
uv
wcwidth
webargs
webcolors
webdriver-manager
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xgboost
xyzservices
yarl
zipp
zstandard
