asttokens
attrs
backtesting
bokeh
cargo
certifi
charset-normalizer
cloudpickle
cmdstanpy
comm
contourpy
cycler
cython
debugpy
decorator
executing
fonttools
h11
holidays
idna
importlib-resources
ipykernel
ipython
ipython-pygments-lexers
jedi
jinja2
joblib
jupyter-client
jupyter-core
kiwisolver
markupsafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
nvidia-nccl-cu12
outcome
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
prophet
psutil
ptyprocess
pure-eval
pyaml
pyarrow
pycparser
pygments
pyparsing
pysocks
python-dateutil
python-dotenv
pytz
pyyaml
pyzmq
requests
rpds-py
scikit-learn
scikit-optimize
scipy
seaborn
selenium
six
slicer
sniffio
sortedcontainers
stack-data
stanio
stockstats
ta
threadpoolctl
tornado
tqdm
traitlets
trio
trio-websocket
typing-extensions
tzdata
urllib3
uv
wcwidth
webdriver-manager
websocket-client
wsproto
xgboost
xyzservices
