absl-py
aiohttp
anyio
argon2-cffi
argon2-cffi-bindings
array-record
arrow
asttokens
astunparse
async-lru
babel
backtest
backtesting
beautifulsoup4
bleach
bokeh
bottleneck
bs4
choreographer
click
cloudpickle
comm
crashtest
debugpy
decorator
defusedxml
dill
dm-tree
docstring-parser
einops
etils
executing
fastjsonschema
fastrlock
filelock
flatbuffers
fqdn
frozenlist
fsspec
ftfy
gast
google-pasta
googleapis-common-protos
grpcio
h11
h5py
hf-xet
httpcore
httpstan
httpx
huggingface-hub
immutabledict
iniconfig
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
jedi
jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-bokeh
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kagglehub
kaleido
keras
keras-core
keras-cv
keras-tuner
kt-legacy
lark
libclang
llvmlite
logistro
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
multidict
multiprocess
munkres
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numexpr
numpy==1.26.4
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-pyindex
opt-einsum
optree
orjson
outcome
overrides
panda
pandocfilters
parso
patsy
pexpect
pillow
pip
plotext
plotly
prometheus-client
promise
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
py
pyaml
pyarrow
pycparser
pygments
pymeeus
pyside6
pyside6-addons
pyside6-essentials
pytest
pytest-timeout
python-dotenv
python-json-logger
pyyaml
pyzmq
qtconsole
qtpy
referencing
regex
retry
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
safetensors
scikit-learn
scikit-optimize
scipy
seaborn
selenium
send2trash
setuptools
shiboken6
simple-parsing
simplejson
slicer
sniffio
sortedcontainers
soupsieve
stack-data
statsmodels
stockstats
ta
ta-lib==0.4.28
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-metadata
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
traitlets
trio
trio-websocket
types-python-dateutil
undetected-chromedriver
uri-template
uv
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xgboost
xyzservices
yarl
zstandard
